*.swo
*.swp
*.kpf
*.nfs*
.cache
.project
.settings
*CVS/Entries
*CVS/Repository
*CVS/Root
Thumbs.db
.buildpath
.kde*
*.kdev4
*~
.directory
*.pidaproject
.tags
~*
.idea/*
.project/*
.DS_Store
nbproject
.externalToolBuilders*
libraries/ac/test/report*
*_gsdata_*
dompdf/lib/fonts/log.htm
vendor/*
build/*
